<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gaa.iap.sample">

    <!--
    If target SDK version is 30 or higher, need to declare this queries tag in AndroidManifest.xml.
    Google was restricted that app query function on Android 11.
    The app that declare the target sdk 30 on the android 11 device need to this queries tag to find the onestore app.

    Target SDK 버전이 30 이상인 경우, AndroidManifest.xml에 queries tag를 선언해야 합니다.
    Google은 Android 11에서 해당 앱 쿼리 기능을 제한했습니다.
    Android 11 기기에서 target SDK 30을 선언한 앱은onestore 앱을 찾기 위해 이 쿼리 태그가 필요합니다.

    Link : https://dev.onestore.co.kr/devpoc/support/news/noticeView.omp?pageNo=3&noticeId=32968&viewPageNo=&searchValue=
    -->
    <queries>
        <intent>
            <action android:name="com.onestore.ipc.iap.IapService.ACTION" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="onestore" />
        </intent>
    </queries>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="fullSensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Options for in-app testing on your global store -->
        <!-- <meta-data android:name="onestore:dev_option" android:value="global" /> -->

    </application>

</manifest>