<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onestore.sample.subscription">

    <!--
        if your binary use ONE store's In-app SDK,
        Please make sure to declare the following query on Androidmanifest.xml.
        Refer to the notice for more information.
        https://dev.onestore.co.kr/devpoc/support/news/noticeView.omp?noticeId=32968
     -->
    <queries>
        <intent>
            <action android:name="com.onestore.ipc.iap.IapService.ACTION" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="onestore" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Subscription_sample">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false" />

        <!--
            WARNING: Remove this option for release binaries!
            Options for in-app testing on your global store (Available from IAP v21.04.00)
             - onestore_00 : South Korea
             - onestore_01 : Singapore, Taiwan
             - onestore_02 : United States (Digital Turbine)
             - onestore_03 : ONE Billing Lab

            If not set, defaults to South Korea.
        -->
        <!-- <meta-data android:name="onestore:dev_option" android:value="onestore_00" /> -->
    </application>

</manifest>